#FormularioRegistro{
    padding: 5rem;
    
    strong{
        color:  var(--neutral-1_5); /*para el nombre de tepha arriba a la derecha*/

    }
    .formulario-container {
        background-color: var(--neutral-4);
        width: 60rem;
        height: 45rem;
        margin: 15rem; 
        /* border: solid 1px #B9B9B9; */   /*para el border de la caja*/
        border-radius: 2%;
        right: 150rem;
        margin-top: -5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } 
    body {
        margin: 0;
        padding: 20;
        font-family: var(--font-family);

    }
    
    
    .icono-foto {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .foto-perfil{
        background-color: var(--neutral-1);
        border-radius: 100%;

    }
    
    .cargar-texto {
        color: var(--color-primary);
        display: block;
        margin-top: 0.5rem;
        font-weight: 500;
    }
    
    .formulario {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    .columna {
        flex: 0;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        
    }
    .column-right{
        flex: 0;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
        gap: 0.6rem;

    }
    

    label {
        font-weight: bold;
        margin-bottom: 0.3rem;
        margin-top: 1rem;
        color: var(--neutral-1_4);
        
    }
    select{
        color: var(--neutral-1_4);
    }
    
    input,
    select {
        padding: 0.6rem;
        border: 1px solid var(--neutral-1);
        border-radius: 0.5px;
        background-color: var(--neutral-2);
        color: var(--neutral-1_4); /*para cuando escriban en los campos */
        font-size: 12px;
        
    }
    
    .input-duo {   /*para que quede arriba de los cuadros*/
        display: flex; 
        gap: 1rem;
        margin-top: 1rem;
        
    }
    .input-name{
        margin-top: 1rem;
    }

    .input-nombre, .input-name{
        width: 75%;
        
    }

    .input-apellido, .input-name{
        width: 85%;
    }

    .input-name, input-name::placeholder{
        font-size: 12px;
    }

    .input-Estado{
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        
    }
    .input-state, select{
        width: 97%;
    }
    .rol-User{
        margin-top: 1rem;
    }
    
    .input-state{
        margin-top: 1rem;
    }

    .button{
        position: relative;        
        width: 200%;
        left: 45%;
    }
    
}