#frame-accest {
    .box-assest{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 105%;
        margin-top: 3rem;
    }
    
    
    
    .box{
        width: 120%;
        border: 1px solid;
        text-decoration: none;
        
    }
}

    .manuales{
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    

/* RESPONSIVE */
@media (max-width: 768px) {
    .box-assest {
        width: 100%; 
        gap: 1rem;
    }

    .box {
        flex: 1 1 100%;   /* ocupa todo el ancho en pantallas pequeñas */
    }
}


/* 🔹 Modo oscuro */
body.dark #frame-accest .direct {
    color: #ffffff; 
}

body.dark #frame-accest .box {
    border-color: #ffffff; 
}
body.dark #frame-accest .manuales{
    color: #ffffff;
}
