#frame-accest {
    /* Accesos directos */
    .box-assest {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Caja de Acceso directos */
    .box {
        width: 11.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.8rem;
        border: 1px solid var(--color-primary);
        margin: 8px;
        border-radius: 0.2rem;
    }

    .direct {
        display: flex;
        margin: 2rem 2rem;
    }
    }
    .manuales{
        font-size: var(--font-family);
        text-decoration: none;
        color: var(--color-primary);
    }


/* 🔹 Modo oscuro */
body.dark #frame-accest .direct {
    color: #ffffff; 
}

body.dark #frame-accest .box {
    border-color: #ffffff; 
}
body.dark #frame-accest .manuales{
    color: #ffffff;
}