#LoginPage {
    .LoginPage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .LoginPage .frame {
        width: 50%;
        margin: 7% 0% 0% 20%;
    }

    .LoginPage .frame h1 {
        margin: 1rem 0 1rem 0;
    }

    .LoginPage .frame .P_Accede {
        font-size: 0.8rem;
        color: var(--neutral-1_5);
        margin-bottom: 1rem;
    }

    .LoginPage .frame .input-box-email {
        width: 100%;
        height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .LoginPage .frame .input-box-email input {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        border-radius: 0.4rem;
        border: 1px solid var(--neutral-1_5);
    }

    .input-box-email label {
        position: relative;
        left: 2%;
        top: 25%;
        background-color: var(--neutral-4);
        margin: 0px 2px 0px 2px;
        padding: 0px 5px;
    }

    .icon {
        position: relative;
        top: -70%;
        left: 98%;
    }

    .Bottonlogin {
        width: 105%;
        height: 2rem;
        margin-top: 2rem;
        border: none;
        border-radius: 0.2rem;
        color: var(--neutral-4);
        background-color: var(--color-primary);
        font-weight: 600;

    }

    /* Recordar Contraseña */
    .frame .remember-forgot{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        margin-top: 2.5rem;
    }

    .remember-forgot label input {
        margin-right: 4px;
    }

    .remember-forgot .OldMyPass{
        font-weight: 600;
        color: var(--color-primary);
        text-decoration: none;
    }

    .remember-forgot .OldMyPass:hover {
        color: var(--neutral-1_5);
        cursor: pointer;
    }

    /* Accesos directos */
    .box-assest{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Caja de Acceso directos */
    .box {
        width: 6rem;
        height: 2.8rem;
        border: 1px solid var(--color-secundary-2);
        margin: 8px;
        border-radius: 0.2rem;
    }

    .direct {
        color: var(--neutral-1_5);
        font-size: 0.7rem;
        margin: 2rem 2rem;
        text-align: center;
    }

    /* Img de accesos directos */
    .box .sofiaplus{
        width: 2rem;
        margin-left: 2rem;
        margin-top: 0.4rem;
    }

    .box .sgva {
        width: 4rem;
        margin-left: 1rem;
        margin-top: 0.6rem;
    }

    .box .zajuna{
        width: 5rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    /* Imagen de Fondo */
    .img-LoginPage {
        background-color: var(--color-secundary2_5);
        border-radius: 0.6rem;
        width: 78%;
    }
}