#navbar{
    .navbar {
        background-color: var(--neutral-4);
        padding: 1rem;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .navbar ul li {
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .navbar ul li:hover {
        border-bottom: 3px solid #30a900;
    }

    .navbar ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: large;        
    }

    /* Estilo para el elemento activo */
    .navbar ul li.active {
        border-bottom: 3px solid #30a900;
    }
}