#VerifyCodePage{
    /* Pagina - Page */
    .VerifyPage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .VerifyPage .frame {
        width: 50%;
        margin: 7% 0% 0% 20%;
    }

    .VerifyPage .frame a{
        text-decoration: none;
        color: var(--neutral-1_5);
    }

    .VerifyPage .frame h1 {
        margin: 1rem 0 1rem 0;
    }

    .VerifyPage .frame p {
        font-size: 0.8rem;
        color: var(--neutral-1_5);
        margin-bottom: 1.4rem;
    }

    .VerifyPage .frame .input-box-email {
        width: 90%;
        display: flex;
        justify-content: space-around;
        height: 3rem;
        margin-bottom: 1.5rem;
    }

    .VerifyPage .frame .input-box-email input {
        width: 10%;
        height: 100%;
        padding-left: 1.5rem;
        border-radius: 4px;
        border: 1px solid var(--neutral-1_5);
        font-size: 1.6rem;
    }

    .icon {
        position: relative;
        top: -70%;
        left: 98%;
    }

    .BottonVerify {
        width: 90%;
        height: 2rem;
        margin-top: 2rem;
        border: none ;
        border-radius: 0.4rem;
        color: var(--neutral-4);
        background-color: var(--color-primary);
        font-weight: 600;
        cursor: pointer;
    }

    /* Imagen de Fondo */
    .img-VerifyPage {
        background-color: var(--color-secundary2_5);
        border-radius: 0.6rem;
        width: 78%;
    }
}