#UpdatePasswordPage{
    /* Pagina - Page */
    .UpdatePage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .UpdatePage .frame {
        width: 50%;
        margin: 7% 0% 0% 20%;
    }

    .UpdatePage .frame a{
        text-decoration: none;
        color: var(--neutral-1_5);
    }

    .UpdatePage .frame h1 {
        margin: 1rem 0 1rem 0;
    }

    .UpdatePage .frame p {
        font-size: 0.8rem;
        color: var(--neutral-1_5);
        margin-bottom: 1rem;
    }

    .UpdatePage .frame .input-box-email {
        width: 100%;
        height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .UpdatePage .frame .input-box-email input {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        border-radius: 0.4rem;
        border: 1px solid var(--neutral-1_5);
    }

    .input-box-email label {
        position: relative;
        left: 2%;
        top: 25%;
        background-color: var(--neutral-4);
        margin: 0px 2px 0px 2px;
        padding: 0px 5px;
    }

    .icon {
        position: relative;
        top: -70%;
        left: 98%;
    }

    .BottonUpdate {
        width: 105%;
        height: 2rem;
        margin-top: 2rem;
        border: none ;
        border-radius: 0.2rem;
        color: var(--neutral-4);
        background-color: var(--color-primary);
        font-weight: 600;
    }

    /* Imagen de Fondo */
    .img-UpdatePage {
        background-color: var(--color-secundary2_5);
        border-radius: 0.6rem;
        width: 78%;
    }
}