#Homepage{
    .home-page {
        background: var(--neutral-1);
    }
    
    .Home {
        display: flex;
        width: 115%;
        height: auto;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .content {
        flex: 1;    
        display: flex;
        flex-direction: column; 
        font-size: 20px;
        
    }
    
    .h1 {
        margin-left: 46.9%;
        font-weight: bold;
        color: var(--neutral-3);
    }
    h2{
        color: #000000;
        white-space: nowrap;  /* Evita que el texto se divida en dos líneas*/
        margin-left: -49%;
    }
    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        margin-left: 20.9%;
        margin-bottom: 2%;
    }

    .Grafics {
        flex: 1;
        display: flex;
        margin-left: 20%;
        flex-direction: column;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        background-color: var(--color-primary);
        margin-top: auto;
    }

    .box-front {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 75rem;
        background-color: var(--color-secundary-1);
        margin-left: 19rem;
    }

    .box-back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        width: 75rem;
        background-color: var(--color-secundary-1);
        margin-left: 19rem;
    }
}



