#CreateTraining{
  #TrainingCreate{
    background-color: var(--neutral-1);  
    height: 46.7rem;
  }
  
  .form-container {
    background-color: var(--neutral-4);
    border: 2px ;
    padding: 2rem;
    border-radius: 10px;
    width: 43%;
    margin-left: 30rem;
  }
  .title-Create{
    display: flex;
    width: 68%;
    justify-content: space-between;
    align-items: center;
    margin-left: 42rem;
    }

  .form-grid {
    width: 41rem; 
    display: grid;
    gap: 2.9rem;
}

.card-duo{
    display: flex;
    justify-content: space-between;
    margin-top: -7.7rem;
    width: 21rem;
  }

  .rae{
    padding: 0.2rem;
    border-radius: 5px;
    display: grid;
    width: 41%;
    margin-left: 24rem;

  }
  
  .rae input{
    padding: 0.7rem;
    background-color: var(--neutral-1);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group select {
    padding: 0.8rem;
    background-color: var(--neutral-1);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .ButtonCreate{
    width: 11rem;
    margin-top: 1rem;
    margin-left: -7rem;
  }
  
  .rae {
    grid-column: span 2;  /*Para que se pongan 2 columnas*/
  }
  
  
}

