* {
    font-family: var(--font-family);
  }
  
  :root {
    /* Primary*/
    --color-primary: #00304d;
    --color-primary2: #334e68;
    --color-primary3: #5a6e84;
    --color-primary4: #8290a2;
    --color-primary5: #aab4c0;
    --color-primary6: #d4d9df;
    /*Secundary*/
    --color-secundary-1: #F4D03F;
    --color-secundary1_2: #ffcc48;
    --color-secundary1_3: #ffd670;
    --color-secundary1_4: #ffe095;
    --color-secundary1_5: #ffeab8;
    --color-secundary1_6: #fff4db;
    --color-secundary-2: #39a900;
    --color-secundary-2_1: #64b83f;
    --color-secundary-2_2: #87c667;
    --color-secundary2_3: #a6d58c;
    --color-secundary2_4: #c4e3b2;
    --color-secundary2_5: #e2f1d8;
      /*Neutral*/
    --neutral-1: #F5F6FA;
    --neutral-1_2: #aeaeae;
    --neutral-1_3: #888888;
    --neutral-1_4: #656565;
    --neutral-1_5: #434343;
    --neutral-1_6: #242424;
    --neutral-1_7: #F5F6FA;
    --neutral-2: #f6f6f6;
    --neutral-3: #142435;
    --neutral-4: #FFFFFF;
    --color-border: #e0e0e0;
    --font-family: Arial, sans-serif;
    --sidebar-width: 250px;
    --header-height: 60px;
  }
  