#EditTraining {
    #trainingEdit{
        background-color: var(--neutral-1);
        height: 46.5rem;

    }
    .title-card{
        display: flex;
        width: 68%;
        align-items: center;
        justify-content: space-between;
        margin-left: 43rem;
    }
    .Button-Exports{
        margin-left: 80%;
        margin-top: 6rem;
    }
    
    .form-grid {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-left: 10rem;
        margin-top: 3rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 20%;
    }

    .perfil-card {
        background-color: var(--neutral-4);
        border: 1px solid var(--color-border);
        border-radius: 8px;
        padding: 1rem;
        width: 100%;
    }

    .perfil-title {
        font-weight: bold;
        font-size: 14px;
        color: var(--neutral-1_6);
        margin-bottom: 8px;
    }

    .perfil-input {
        width: 100%;
        padding: 3.5%;
        font-size: 14px;
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        background-color: var(--neutral-1);
        color: var(--neutral-1_6);
        width: 13rem;
    }
    .Button-Edit{
        margin-left: 50%;
        width: 12%;
        margin-top: 4rem;
        cursor: pointer;
    }
}