#editProfilePage {
    .view-info-container {
        width: 100%;
        padding-top: 0;
        background-color: var(--neutral-1);
    }

    .title-page {
        display: flex;
        justify-content: center;
    }

    /* Contenido principal con columnas */
    .content {
        margin-left: 20rem;
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    /* Columna izquierda */
    .left-column {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

    /* Tarjeta de empresa/perfil */
    .company-card {
        background-color: var(--neutral-4);
        border-radius: 0.4rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }

    .logo-container {
        position: relative;
        width: 45%;
        height: 45%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-upload {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 9rem;
        font-size: 0.9rem;
    }

    .name-input {
        margin-top: rem;
    }

    .company-card h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #111827;
        margin-bottom: 0.5rem;
    }

    .description-card {
        background-color: var(--neutral-4);
        border-radius: 0.6rem;
        padding: 1.5rem;
        margin-top: 1rem; /* Asegura separación visual */
        width: 100%; /* Ajusta el ancho */  
    }


    /* Columna derecha */
    .right-column {
        width: 60%;
    }

    /* Contenedor de tarjetas de información */
    .info-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* Tarjetas individuales de información */
    .info-card {
        background-color: white;
        border-radius: 0.6rem;
        padding: 1rem 1.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
    }

    .info-title {
        font-weight: 600;
        color: var(--neutral-1_3);
        margin-bottom: 0.4rem;
    }

    /* Estilos para inputs y selects */
    .info-card select,
    .info-card input {
        width: 98%;
        border: 0.5px solid var(--neutral-1_3);
        padding: 0.5rem;
        border-radius: 0.4rem;
        font-size: 1rem;
        color: var(--neutral-1_5);
        background-color: var(--neutral-2);
    }

    .info-card input[type="password"] {
        font-family: 'Arial', sans-serif;
        letter-spacing: 0.1rem;
    }

    /* Tarjeta de acciones */
    .action-card {
        background-color: #f6f6f6;
        padding: 1rem;
        display: flex;
        justify-content: center;
        gap: 0.8rem;
    }

    .icon-button {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        background-color: #f9fafb;
        transition: background-color 0.2s, transform 0.2s;
    }

    .icon-button:hover {
        background-color: #e5e7eb;
        transform: scale(1.15);
    }
    .box-botton {
        position: relative;
        top: 2%;
        left: 40%;
    }
}
