#Carrusel {
    .carrusel-container {
        aspect-ratio: 10 / 16;
        width: 25rem;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }

    .carrusel-container img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 0.6rem;
        scroll-snap-align: center;
    }
}