#filter-component {
  .filter-container {
    width: 75%;
    z-index: 100;
  }

  .filter-bar {
    border: 2px solid var(--neutral-1);
    width: 69%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: 2%;
    background-color: var(--neutral-4);
  }

  .filter-item {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }

  .filter-by {
    border-right: 2px solid var(--neutral-1);
    gap: 0.5rem;
  }

  .document-type,
  .status {
    border-right: 2px solid var(--neutral-1);
    justify-content: space-between;
    padding: 0 1rem;
    flex: 1;
  }

  .reset {
    color: var(--color-primary);
    gap: 0.5rem;
    margin-left: auto;
    padding-right: 1.5rem;
  }

  .refresh-icon {
    font-size: 1.2rem;
  }

  .reset-text {
    font-weight: 500;
  }

  /* Dropdown de filtros */
  .filter-dropdown {
    position: absolute;
    top: 4.5rem;
    background-color: var(--neutral-4);
    border-radius: 8%;
    box-shadow: 0 4% 12% rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    z-index: 1000;
    width: 35%;
  }

  .document-type-dropdown {
    left: 8%;
  }

  .status-dropdown {
    left: 35%;
  }

  .filter-dropdown h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--neutral-1_6);
  }

  .filter-options {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .filter-option {
    flex: 1;
    padding: 0.75rem;
    border: 1px solid var(--neutral-1);
    border-radius: 50px;
    background-color: var(--neutral-4);
    color: var(--neutral-1_6);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
  }

  .filter-option.selected {
    background-color: var(--color-primary);
    color: var(--neutral-4);
    border-color: var(--color-primary);
  }

  .select-button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-primary);
    color: var(--neutral-4);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }

  /* .select-button:hover {
    background-color: var(--neutral-4);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  } */
}