#barra-navegacion{
    nav {
        background-color: var(--neutral-4);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav img {
        width: 10rem;
        padding: 0 4%;
    }

    .img-sena{
        width: 3rem;
    }

    .icons-left{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 2%;
    }
    .language-button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        color: var(--text-color);
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        transition: all 0.3s;
      }
      
      .language-button:hover {
        background: rgba(0,0,0,0.1);
      }
      
      .language-button span {
        font-size: 0.9rem;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
      }
      
      button {
        background-color: var(--color-button-bg);
        color: var(--color-button-text);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      button:hover {
        opacity: 0.8;
      }
      
}
