#barra-navegacion{
    nav {
        background-color: var(--neutral-4);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }
    
    nav img {
        width: 10rem;
        padding: 0 4%;
    }

    .img-sena{
        width: 3rem;
    }
}